.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding-bottom: 60px;
}

mat-card {
  background-color: white;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

mat-card-title {
  margin-left: 10px;
}

.image {
  max-width: 300px;
}

.button {
  margin-right: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}
mat-card-actions{
  width: 100%;

  button{
    width: calc(33%);
  }
}
